<html>
<%- partial('_partial/head') %>
<body>
  <div id="container">
    <div id="wrap">
      <!-- ... -->
      <%- partial('_partial/google-adsense') %>
      <!-- ... -->
    </div>
    <!-- ... -->
  </div>
</body>
</html>
